 <!-- contact card -->
 <div class="d-flex justify-content-center align-items-center mt-2">
 <div class=" col-lg-4 d-flex justify-content-center">
    <div class="card align-items-center p-2 " style="width: 30rem;">
        <img width="200px" height="200px" [src]="contact.photo" alt="no" width="100px" height="100px">

        <div class="card-body text-center">
            <h5 class="card-title">{{contact.name}}</h5>
            <p>id:{{contact.id}}</p>
            <p>mobile:{{contact.mobile}}</p>
            <p>email:{{contact.email}}</p>
            <p>company:{{contact.company}}</p>
            <p>title:{{contact.title}}</p>
            <p>group:{{group}}</p>
        </div>
    </div>
</div>
</div>

