<div class="container">
    <div class="row">
        <div class="col">
            <h1>Online Contacts Application

                <a class="btn btn-success" routerLink="add-contact"><i class="fa-solid fa-user-plus"></i>Add New</a>
            </h1>
            <!-- date pipe: is a builtin pipe in angular -->
            <!-- <p>{{todaydate | date : 'medium'}}</p> -->
            <!-- content -->
            <p class="text-align:justify-content">This is dummy content: Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Modi quos dicta fuga est
                minima. Quam temporibus blanditiis itaque, voluptas sequi, voluptatem facilis iste exercitationem
                eligendi eum minima repellat accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Rerum, a. Commodi, ea? Reprehenderit rem labore culpa rerum. Porro cupiditate laborum, necessitatibus
                exercitationem dolores ea, architecto minima dolor nostrum accusamus odit!</p>

            <!-- search option -->
            <div class="row mt-4">
                <div class="col-lg-2 fw-bolder">
                    search contact:
                </div>
                <div class="col-lg-6">
                    <!-- input search box -->
                    <input [(ngModel)]="searchKey" type="text" placeholder="type contact name here!!!" class="form-control me-auto">
                </div>

            </div>

        </div>
    </div>
</div>

<!-- loading spinner -->
<div *ngIf="isLoading && allcontacts.length==0" class="text-center mt-5">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>

<!-- if no contact match to the input field -->

<div *ngIf="(allcontacts | filter : searchKey : 'name').length==0 && !isLoading">
<h3 style="text-align: center; margin-top:20px;">no contact found</h3>
</div>


<!-- error msg div -->
<div *ngIf="errormsg" class="alert alert-danger m-5 " role="alert">
{{errormsg}}
</div>


<!-- contact card design -->
<div class="container mt-5 ">
    <div class="row" *ngIf="!isLoading && allcontacts.length>0 ">
        <div class="col-lg-6 mb-3" *ngFor="let contact of allcontacts | filter : searchKey : 'name' " >

            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">

                        <div class="col-sm-3 text-center">
                            <!-- image -->
                            <img class="user-img w-75"
                                [src]="contact.photo"
                                alt="" width="150px" height="150px">
                        </div>

                        <div class="col-sm-8">
                            <!-- content -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Name:<span class="fw-bold">{{contact.name}}</span>
                                </li>

                                <li class="list-group-item">
                                    Mobile:<span class="fw-bold">{{contact.mobile}}</span>
                                </li>

                                <li class="list-group-item">
                                    Email:<span class="fw-bold">{{contact.email}}</span>
                                </li>
                            </ul>

                        </div>

                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                            <!-- actions -->

                            <!-- view -->
                            <a routerLink="view-contact/{{contact.id}}" class="btn btn-warning text-light mb-1"><i
                                    class="fa-solid fa-eye"></i></a>

                            <!-- edit -->
                            <a routerLink="edit-contact/{{contact.id}}" class="btn btn-success text-light mb-1"><i
                                    class="fa-solid fa-pen"></i></a>
                            <!-- delete -->

                            <button (click)=" deleteContact(contact.id)"  class="btn btn-danger text-light mb-1" type="button"><i
                                    class="fa-solid fa-trash" ></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>